.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    padding-top: 45px;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 45px;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    top: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    top: -100%;
}

.mainview-animation.ng-enter {
    -webkit-transition: .3s linear all; /* Safari/Chrome */
    -moz-transition: .3s linear all; /* Firefox */
    -o-transition: .3s linear all; /* Opera */
    transition: .3s linear all; /* IE10+ and Future Browsers */
}

/**
 * Pre animation -> enter
 */
.mainview-animation.ng-enter{
    /* The animation preparation code */
    opacity: 0;
}

/**
 * Post animation -> enter
 */
.mainview-animation.ng-enter.ng-enter-active {
    /* The animation code itself */
    opacity: 1;
}

.view-slide-in.ng-enter {
    transition: all 1s ease;
    -webkit-transition:all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;

    opacity:0.5;
    position:relative;
    opacity:0;
}

.view-slide-in.ng-enter {
    opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
    top:0;
    left:0;
    opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active{
    top:5px;
    left:5px;
    opacity:1;
}
.view-slide-in.ng-leave{
    top:0;
    left:0;
    opacity:0;
}

.question {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: coral;
    width: 100%;
    display: block;
    border-left:1px solid black;
}

.question.ng-enter,
.question.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.question.ng-enter {
    left: 100%;
}
.question.ng-enter-active {
    left: 0;
}
.question.ng-leave {
    left: 0;
}
.question.ng-leave-active {
    left: -100%;
}

.header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

.header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
}

.header .header-content .header-content-inner hr {
    margin: 30px auto;
}

.header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}

@media(min-width:768px) {
    .header {
        min-height: 100%;
    }

    .header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    .header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.btn{
    border-radius: 300px;
}

hr {
    max-width: 500px;
    border-color: #f04124;
    border-width: 3px;
}